<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- AUTH GOV PT Config Keys-->
    <add key="AuthGovPT.Saml.Certificate.Folder.Path"      value="/src/SAML/certificate/sample/"/>
    <add key="AuthGovPT.Saml.Certificate.File.Name"        value="mysitesample.pt.pfx"/>
    <add key="AuthGovPT.Saml.Certificate.Pfx.Password"     value="mysitesamplepwd"/>
    <add key="AuthGovPT.Saml.Request.Destination.Url"      value="https://preprod.autenticacao.gov.pt/Default.aspx"/>
    <add key="AuthGovPT.Saml.Request.Post.Url"             value="https://preprod.autenticacao.gov.pt/fa/Default.aspx"/>
    <add key="AuthGovPT.Saml.Request.Provider.Name"        value="Fornecedor de Serviços - Demonstração"/>
    <add key="AuthGovPT.Saml.Request.AssertionService.Url" value="authgovpt/ProcessAuthGovResponse"/>
    <add key="AuthGovPT.Saml.Request.Issuer.Value"         value="mysitesample.pt"/>
    <add key="AuthGovPT.Saml.Schemas.Files.Path"           value="/src/AuthGovPTSaml.Core/SAML/Schemas"/>
    <add key="AuthGovPT.Saml.AuthToken.ValidTime.Seconds"  value="30"/>
  </appSettings>
</configuration>